.form-part{
  margin-top:150px;
  margin-left:100px;
  margin-right:200px;
}
.form-part label{
  font-size: 18px;
}
.form-actions {
  margin: 0;
  text-align: center;
}
.invalid-feedback{
  color:white;
}
.show-big{
  font-size: 29px;
}
